@font-face
{
   font-family: "Elfe";
   src: url('police/LELFNOIR.TTF');
}


body {
   font-family: 'Arsenal', sans-serif; 
   background:#fff; 
   background: url(/images/elfe4.jpg)repeat 0px 0px; 
   background-size: cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover; 
   background-attachment: fixed;
}

.reset, .signout{
   font-size: 1em;
   font-family: "Elfe";
   color: #fff;
   background: #E91E63;
   border: 1px solid #E91E63;
   outline: none;
   margin-top: 50px;
   cursor: pointer;
   padding: .6em 1em;
   -webkit-appearance: none;
   width: 100%;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
   border-radius: 2px;  
}

a .reset-password, a .sign-out{
    background: transparent;
    color: white;  
   transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
} 


.signout{
   margin-top: 10px;
}

.page-header h1
{
   font-family: "Elfe";
   font-size: 1.5em;
   color: #fff;
   text-align: center;
   margin-bottom: 1.5em;
   line-height: 0.7em;
   font-weight: 100;
}


b{
   font-weight: 100;
}



/*----------------------------------------------------------------------------------------------------------*/
.item { 
    -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -o-transition: 0.5s;
   -ms-transition: 0.5s;
    transition: 0.5s;
    visibility: hidden;
    position: relative;  
   opacity: 1;
   visibility: visible;
}
.item:hover .bg {
   opacity: 0.2;
}

.item:hover .block {
   -webkit-box-shadow: 0px 0px 50px #333;
   -moz-box-shadow: 0px 0px 50px #333;
   -o-box-shadow: 0px 0px 50px #333;
   -ms-box-shadow: 0px 0px 50px #333;
   box-shadow: 0px 0px 50px #333;
} 

.item .bg {
   top: 0px;
   left: 0px;
   opacity: 1;
   z-index: -1;
   width: 100%;
   height: 100%;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -o-transition: 0.5s;
   -ms-transition: 0.5s;
   transition: 0.5s;
   position: absolute;
   -webkit-transform: scale(1.03);
   -moz-transform: scale(1.03);
   -o-transform: scale(1.03);
   -ms-transform: scale(1.03);
   transform: scale(1.03);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
} 

.item .blur {
   top: 0px;
   left: 0px;
   z-index: -1;
   width: 100%;
   height: 100%;
   -webkit-transition: 0.5s;
   -moz-transition:0.5s;
   -o-transition:0.5s;
   -ms-transition:0.5s;
   transition:0.5s;
   -webkit-filter: blur(5px);
   filter: blur(5px);
   position: absolute;
   -webkit-transform: scale(1.03);
   -moz-transform: scale(1.03);
   -o-transform: scale(1.03);
   -ms-transform: scale(1.03);
   transform: scale(1.03);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

.item .block {
    width: 30%;
    padding: 3.5em 3em;
    margin: 4em auto;
    color: #fff;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transform: scale(1.03);
   -moz-transform: scale(1.03);
   -o-transform: scale(1.03);
   -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: none;
}

.item .block .text {
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-align: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   background-position: center;
   background-attachment: fixed;
}  

.item .block:hover {
   -webkit-box-shadow: 0px 0px 70px #000;
   -moz-box-shadow: 0px 0px 70px #000;
   -o-box-shadow: 0px 0px 70px #000;
   -ms-box-shadow: 0px 0px 70px #000;
   box-shadow: 0px 0px 70px #000;
}

.item .block:hover .circleLight {
   opacity: 0.4;
}

.item .block .circleLight {
   top: 0px;
   left: 0px;
   opacity: 0;
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s; 
   -o-transition: 0.5s;
   -ms-transition: 0.5s;   
   transition: 0.5s; 
   border-radius: 10px;
   background: -webkit-radial-gradient(80px 40px, circle, #ffffff, rgba(0, 0, 0, 0));
   background: radial-gradient(circle at 80px 40px, #ffffff, rgba(0, 0, 0, 0));
}

